.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 16px 32px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-decoration: none;
	transition: var(--main-trs);
	cursor: pointer;
}

.btn--theme-dark {
	color: var(--white);
	background: rgba(249, 249, 249, 0.15);
}

.btn--theme-darker {
	color: var(--white);
	background: var(--dark-primary);
}

.btn--with-icon {
	gap: 12px;
}

.btn--with-icon svg {
	transition: transform 0.3s ease;
}

.btn--theme-light {
	color: var(--dark-primary);
	background: var(--light-grey);
}

.btn--theme-white {
	color: var(--dark-primary);
	background: var(--white);
}

.btn--theme-dark:focus {
	outline: none;
}

.btn:focus-visible {
	outline: 2px dashed var(--dark-primary);
	outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
	.btn--theme-dark:hover {
		color: var(--dark-primary);
		background-color: var(--light-grey);
	}
}

.btn--theme-dark:active {
	color: var(--white);
	background-color: var(--dark-primary);
}

@media (any-hover: hover) {
	.btn--theme-light:hover {
		color: var(--white);
		background-color: var(--primary);
	}
}

.btn--theme-light:active {
	color: var(--white);
	background-color: var(--dark-primary);
}

@media (any-hover: hover) {
	.btn--theme-darker:hover {
		color: var(--white);
		background-color: var(--primary);
	}
}

.btn--theme-darker:active {
	color: var(--dark-primary);
	background-color: var(--light-grey);
}

@media (any-hover: hover) {
	.btn--theme-white:hover {
		color: var(--white);
		background-color: var(--primary);
	}
}

.btn--theme-white:active {
	color: var(--white);
	background-color: var(--dark-primary);
}
