.custom-checkbox {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	-webkit-user-select: none;
	cursor: pointer;
}

.custom-checkbox__input {
	position: absolute;
	opacity: 0;
}

.custom-checkbox__icon {
	position: relative;
	flex-shrink: 0;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	width: 16px;
	height: 16px;
}

.custom-checkbox__icon::after {
	content: '';
	position: absolute;
	inset: -1px;
	z-index: 2;
	background-image: url('../../img/check.svg');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	transition: 0.3s ease;
}

.custom-checkbox__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--dark-primary);
}

.custom-checkbox__input:checked + .custom-checkbox__icon::after {
	opacity: 1;
}

.custom-checkbox__input:focus-visible + .custom-checkbox__icon {
	outline: 2px dashed var(--dark-primary);
	outline-offset: var(--outline-offset);
}
