.inner-hero {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.inner-hero__content {
	display: flex;
	align-items: flex-end;
	padding-bottom: 36px;
	min-height: 209px;
}

.inner-hero__title {
	font-family: var(--second-family);
	margin: 0;
	font-weight: 400;
	font-size: 36px;
	line-height: 140%;
	color: var(--white);
}

.inner-hero--all {
	background-image: url('../../img/all-bg.jpg');
}
