.nav_list {
	display: flex;
	align-items: center;
	gap: 44px;
}

.nav_link {
	font-weight: 400;
	font-size: 16px;
	color: #726e8d;
	text-decoration: none;
	transition: var(--main-trs);
	cursor: pointer;
}

.nav_link:focus {
	outline: none;
}

.nav_link:focus-visible {
	outline: var(--outline);
	outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
	.nav_link:hover {
		color: var(--primary);
	}
}

.nav_link:active {
	color: var(--dark-primary);
}
