.notice {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 14px;
	color: var(--white);
	gap: 8px;
	padding: 10px 16px;
	background: var(--dark-primary);
}

.notice--hidden {
	display: none;
}

.notice__close {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--white);
	transition: var(--main-trs);
}

.notice__close svg {
	display: block;
	fill: currentColor;
}

.notice__close:focus {
	outline: none;
}

.notice__close:focus-visible {
	outline: 2px dashed var(--white);
	outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
	.notice__close:hover {
		color: var(--primary);
	}
}

.notice__close:active {
	color: var(--border-dark);
}
