.product {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.product__top {
	position: relative;
}

.product__image {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.product__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.product__title {
	font-family: var(--second-family);
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	color: var(--dark-primary);
}

.product__link {
	color: inherit;
	text-decoration: none;
	transition: var(--main-trs);
}
.product__link::after {
	content: '';
	position: absolute;
	inset: 0;
}

.product__price {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--dark-primary);
}

.product_link:focus {
	outline: none;
}

.product__link:focus-visible::after {
	outline: 2px dashed var(--dark-primary);
	outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
	.product__link:hover {
		color: var(--primary);
	}
}

.product__link:active {
	color: var(--border-dark);
}
